*{
    padding: 0;
    margin: 0;
}

/* Header */

header{
    background-color: #9d52ff;
    display: flex;
    height: 70px;
    z-index: 9;
    transition: 0.5s ease all;
    -webkit-transition: 0.5s ease all;
    -moz-transition: 0.5s ease all;
    -ms-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
}

nav{
    width: 100%;
}

nav ul{
    display: flex;
    list-style: none;
    width: 100%;
    align-items: center;
    height: 70px;
}

nav ul li{
    flex:0.6;
    font-weight: 600;
}

nav ul li:nth-child(1){
    flex:2;
    text-align: center;
    margin-left: 30px;
    margin-right: -10px;
}

nav ul li:nth-child(6){
    flex:1.5;
    text-align: left;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

nav ul li img{
    height: 30px;  
}

#btnContact{
    border: 2px solid white;
    padding: 5px 15px;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;
}

#menu{
    display: none;
    width: 35px;
}

/* Header */

/* Banner */

.banner_area{
    position: relative;
    margin-bottom: -10px;
}

#banner{
    width: 100%;
}

.banner_area span{
    color: darkgrey;
    position: absolute;
    left: 18%;
    top:70px;
    font-size: 14px;
}

.banner_legend{
    height: auto;
    background-color: #eeeef0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner_legend span{
    position: relative;
    font-size: 120px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #9d52ff;
}

.area_40{
    text-align: center;
    padding-top: 30px;
}

#porc{
    font-size: 45px;
    position: absolute;
    top: 55px;
    font-weight: bold;
}

.subtitle{
    font-size: 20px;
    width: 30%;
    color: #728692;
    text-align: justify;
}

.image img {
    padding-top: 15px;
    height: 75px;
    padding-bottom: 80px;
}

/* Banner */

/* Asking Area */

main p {
    font-size: 17px;
    font-weight: bold;
    color: #9d52ff;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

.questions {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.questions .area {
    flex-wrap: wrap;
    flex:1;
    padding: 10px;
}

.questions .area:nth-child(1){
    padding: 10px 10px 10px 100px;
}

.questions .area:nth-child(4){
    padding: 10px 80px 10px 10px;
}

.questions .area .title{
    color: #9d52ff;
    font-weight: bold;
    padding: 10px 10px 10px 0px;
    font-size: 30px;
    flex-wrap: wrap;
    text-align: start;
    line-height: 40px;
}

.questions .area .subtitle{
    font-size: 15px;
    width: 100%;
    padding-top: 10px;
    text-align: start;
    padding-bottom: 40px;
}

/* Asking Area */

/* Execute Better Area */

.article_areas{
    background-image: url('../img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.article_areas .container span{
    font-size: 25px;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 2px;
    padding-top: 65px;
    padding-bottom: 55px;
}

.container .article_area{
    display: flex;
    flex-direction: row;
}

.container article{
    flex: 1;
}

.container article:nth-child(1){
    padding-left: 100px;
    padding-right: 20px;
}

.container article:nth-child(3){
    padding-right: 100px;
}

.container article h1{
    color: #3ed0fa;
    font-size: 20px;
}

.container article p{
    color: #fff;
    padding-top: 10px;
    padding-bottom: 40px;
}

#spotlight{
    color: #3ed0fa;
}

/* Execute Better Area */

/* Patrons */

.container h1{
    padding-top: 50px;
    font-size: 30px;
    text-align: center;
}

.patrons{
    padding-left: 0px;
    padding-bottom: 40px;
}

.patrons img{
    width: 160px;
    padding: 30px 10px 0px 30px;
}

/* Patrons */

/* Meth */

.meth_area{
    background-color: #eeeef0;
}

.container .area_titulo{
    font-size: 25px;
    font-weight: bold;
    padding-top: 70px;
    padding-bottom: 60px;
}

.container .area_titulo span{
    color:#9d52ff;
}

.meth_info{
    display: flex;
}

.meth_info article{
    padding: 0px 40px 0px 30px;
}

.meth_info article:nth-child(1){
    padding-left: 100px;
    padding-right: 10px;
}

.meth_info article:nth-child(3){
    padding: 0px;
}

.meth_info article:nth-child(4){
    padding-right: 100px;
    padding-left: 50px;
}

.meth_info article h2{
    font-size: 18px;
}

.meth_info article p{
    color: #8c979f;
}

.meth_info article ul{
    list-style-position: inside;
    padding-top: 10px;
}


.meth_info article ul li{
    color: #8c979f;
}

/* Meth */

/* Main Points */

.point_area{
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}

.point_area h2{
    display: flex;
    flex-direction: row;
}

.point_area .image_area img{
    width: 100%;
    height: 100%;
    padding-left: 50px;
}

.complement_area article p{
    color:#929ea7;
    text-align: justify;
}

.complement_area{
    display: flex;
    flex-direction: column;
}

.complement_area article img{
    width: 80px;
    height: 70px;
    padding: 20px 20px 0px 10px;
}

.complement_area article{
    display: flex;
    width: 90%;
}

.complement_area h1{
    font-size: 50px;
    font-weight: bold;
    text-align: start;
    padding-bottom: 20px;
}

/* Main Points */

/* Contact Area */

.contact_area{
    background-color: #7f59e9;
    padding-bottom: 30px;
}

.links{
    color: #FFF;
    padding-bottom: 30px;
    margin-right: 450px;
}

.links ul{
    list-style: none;
}

.links ul li:nth-child(1){
    padding-top: 30px;
}

.links ul li:nth-child(5){
    padding-bottom: 30px;
}

.links ul li{
    padding-top: 15px;
}
.email span{
    font-weight: bold;
}

#input_mail{
    background-color: #7f59e9;
    border: 0;
    padding-bottom: 3px;
    border-bottom: 2px solid white;
    width: 300px;
    color: white;
}

#input_mail::placeholder{
    color: white;
}

input[type="submit"]{
    width: 100px;
    border:0;
    padding: 2px 5px 2px 5px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    color: white;
    background-color: #4fb8f9;
}

.areas{
    display: flex;
    position: relative;
}

.send_message{
    position: absolute;
    width: 500px;
    height: 370px;
    display: flex;
    background-color: white;
    border: 1px solid lightgray;
    flex-direction: row;
    box-shadow: 0px 0px 20px rgb(168, 163, 163);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    right: -100px;
    top: -50px;
}

.area_message{
    color: #7f59e9;
    padding:10px;
}

.area_message h1{
    font-size: 25px;
}

.area_message p{
    color: black;
    padding: 20px;
}

.area_message span{
    color: black;
}

.inputs_block{
    display: flex;
    flex-direction: column;
}

.inputs_block input{
    margin-top: 40px;
    margin-right: 30px;
    border: 0;
    padding-bottom: 3px;
    border-bottom: 2px solid grey;
    margin-bottom: 10px;
    width: 300px;
    color: black;
}

#sendMessage{
    background-color: #7f59e9;
    color: white;
    width: 150px;
    padding: 10px;
}

/* Contact Area */

/* Footer */

footer p{
    color:#7f59e9;
    font-weight: bold;
    padding-top: 50px;
    text-align: center;
}

footer .area_images{
    display: flex;
    padding-bottom: 30px;
    flex-wrap: wrap;
}

footer .area_images img{
    height: 65px;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 60px;
}

/* Footer */

@media (max-width: 1064px){
    /* Header */
    header{
        height: 100%;
        width: 100%;
        position: absolute;
    }

    .show{
        left: 0;
    }

    .hide{
        left:-100%;
    }

    nav{
        height: 100%;
    }

    nav ul{
        flex-direction: column;
        flex: 1;
    }

    nav ul li{
        padding: 10px 0px;
        font-size: 20px;
        flex: 1;
        width: 100%;
        text-align: center;
    }

    nav ul li img{
        height: 50px;  
    }

    nav ul li:nth-child(6){
        flex:1.5;
        text-align: center;
    }

    #btnContact{
        border: 0;
    }

    #menu{
        display: block;
        position: absolute;
        left: 10px;
        top: 20px;
        z-index: 10;
        transition: 0.5 ease all;
        -webkit-transition: 0.5 ease all;
        -moz-transition: 0.5 ease all;
        -ms-transition: 0.5 ease all;
        -o-transition: 0.5 ease all;
    }

    /* Header */

    /* Banner */

    .banner_area{
        position: relative;
        margin-bottom: -10px;
    }

    #banner{
        width: 100%;
    }

    .banner_area span{
        /* color: darkgrey;
        position: absolute;
        left: 18%;
        top:70px;
        font-size: 14px; */
        display: none;
    }

    .banner_legend{
        height: auto;
        background-color: #f3f3f5;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner_legend span{
        position: relative;
        font-size: 60px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        color: #9d52ff;
    }

    .area_40{
        text-align: center;
        padding-top: 30px;
    }

    #porc{
        font-size: 25px;
        position: absolute;
        top: 25px;
        font-weight: bold;
    }

    .subtitle{
        font-size: 20px;
        width: 90%;
        color: #728692;
        text-align: center;
    }

    .image img {
        padding-top: 15px;
        height: 75px;
        padding-bottom: 80px;
    }

    /* Banner */

    /* Asking Area */

    main p {
        font-size: 17px;
        font-weight: bold;
        color: #9d52ff;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 0px;
    }

    .questions {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .questions .area {
        flex-wrap: wrap;
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
    }

    .questions .area .title{
        color: #9d52ff;
        font-weight: bold;
        padding: 40px 10px 5px 10px;
        margin: 0;
        font-size: 35px;
        text-align: center;
    }

    .questions .area:nth-child(1){
        padding: 10px 10px 10px 10px;
    }
    
    .questions .area:nth-child(4){
        padding: 10px 10px 10px 10px;
    }
    

    .questions .area .subtitle{
        font-size: 15px;
        width: 100%;
        padding-top: 15px;
        text-align: center;
    }

    /* Asking Area */

    /* Execute Better Area */

    .container .article_area{
        display: flex;
        flex-direction: column;
    }

    .container article{
        flex: 1;
    }

    .container article:nth-child(1){
        padding-left: 0px;
        padding-right: 0px;
    }

    .container article:nth-child(3){
        padding-right: 0px;
    }

    .container article h1{
        text-align: center;
    }

    /* Execute Better Area */

    /* Patrons */

    .container h1{
        padding-top: 50px;
        font-size: 30px;
        text-align: center;
    }

    .patrons{
        padding-left: 0px;
        padding-bottom: 40px;
        flex-direction: column;
    }

    .patrons img{
        width: 160px;
        padding: 30px 0px 0px 0px;
    }

    /* Patrons */

    /* Meth */

    .meth_area{
        background-color: #eeeef0;
    }

    .container .area_titulo{
        font-size: 25px;
        font-weight: bold;
        padding-top: 70px;
        padding-bottom: 60px;
    }

    .container .area_titulo span{
        color:#9d52ff;
    }

    .meth_info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .meth_info article{
        padding: 0px;
    }

    .meth_info article p{
        padding: 0px;
        padding-left: 20%;
        padding-right: 20%;
        padding-bottom: 60px;
        padding-top: 20px;
    }

    .meth_info article img{
        justify-self: center;
        align-self: center;
        margin:  0 0 0 35%;
    }

    .meth_info article:nth-child(1){
        padding: 0px;
    }

    .meth_info article:nth-child(2){
        padding: 0px;
    }

    .meth_info article:nth-child(3){
        padding: 0px;
    }

    .meth_info article:nth-child(4){
        padding: 0px;
    }

    .meth_info article h2{
        font-size: 18px;
        text-align: center;
    }

    /* Meth */

    /* Main Points */

    .point_area{
        display: flex;
        flex-direction: column;
    }

    .point_area .image_area img{
        width: 100%;
        padding-left: 50px;
        display: none;
    }

    .complement_area article p{
        color:#929ea7;
        text-align: justify;
    }

    .complement_area{
        display: flex;
        flex-direction: column;
    }

    .complement_area article img{
        width: 80px;
        height: 70px;
        padding: 10px 20px 0px 10px;
    }

    .complement_area article{
        display: flex;
        width: 90%;
    }

    .complement_area h1{
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        padding-bottom: 20px;
    }

    /* Main Points */

    /* Contact Area */

    .contact_area{
        background-color: #7f59e9;
    }

    .links{
        color: #FFF;
        padding-bottom: 30px;
        margin-right: 0;
    }

    .links ul{
        list-style: none;
    }

    .links ul li:nth-child(1){
        padding-top: 30px;
    }

    .links ul li:nth-child(5){
        padding-bottom: 30px;
    }

    .links ul li{
        padding-top: 15px;
    }
    .email span{
        font-weight: bold;
    }

    .email{
        display: flex;
        flex-direction: column;
    }

    #input_mail{
        background-color: #7f59e9;
        border: 0;
        padding-bottom: 3px;
        border-bottom: 2px solid white;
        margin-bottom: 30px;
        width: auto;
        color: white;
    }

    #input_mail::placeholder{
        color: white;
    }

    input[type="submit"]{
        width: auto;
        border:0;
        padding: 2px 0px 2px 0px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        color: white;
        background-color: #4fb8f9;
    }

    .areas{
        display: flex;
        position: relative;
        flex-direction: column;
    }

    .send_message{
        position: relative;
        width: auto;
        height: auto;
        display: flex;
        background-color: white;
        border: 1px solid lightgray;
        flex-direction: column;
        box-shadow: 0px 0px 20px rgb(168, 163, 163);
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
        right: 0;
        top: 0;
    }

    .area_message{
        color: #7f59e9;
        padding:10px 0px 10px 0px;
    }

    .area_message h1{
        font-size: 25px;
    }

    .area_message p{
        color: black;
        padding: 20px 0px 20px 0px;
        text-align: center;
    }

    .area_message span{
        color: black;
    }

    .inputs_block{
        display: flex;
        flex-direction: column;
    }

    .inputs_block input{
        justify-self: center;
        align-self: center;
        margin-top: 40px;
        margin-right: 0;
        border: 0;
        padding-bottom: 3px;
        border-bottom: 2px solid grey;
        margin-bottom: 10px;
        width: auto - 50px;
        color: black;
    }

    #sendMessage{
        background-color: #7f59e9;
        color: white;
        width: 150px;
        padding: 10px;
    }

    /* Contact Area */

}