*{
    padding: 0;
    margin: 0;
}

header{
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    padding: 10px;
}

header h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 30px;
}

main{
    margin-top: 15px;
    background-color: cornflowerblue;
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center;
}

main p{
    font-weight: bold;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 15px;
}

main button{
    margin-left: 5px;
}

ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 15px;
    justify-content: center;
}

ul li{
    background-color: limegreen;
    min-width: 20vw;
    margin: 5px;
    height: 50px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lista li{
    background-color: limegreen;
    min-width: 20vw;
    margin: 5px;
    height: 50px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}